<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Portfolio</title>
</head>
<body>
  <h1>login</h1>
  <form method="POST" action="/login">
    <p>ID</p><input type="text" name="user">
    <p>PASS</p><input type="password" name="password">  
    <p><input type="submit" value="ログイン"></p>
  </form>
  <p><a href="/register">無料アカウント登録はこちら</a></p>
  
</body>
</html>

