<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja">
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="こちらはログインページです。MECOMは、みんなのポートフォリオ集めた、ユーザー投稿型ポートフォリオサイト。">
  <meta name="keywords" content="ポートフォリオ,ウェブデザイン,ギャラリー,MECOM">
  <title>ログイン | MECOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- favicon -->
<link rel="apple-touch-icon" href="/images/favicon.ico">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/favicon.ico"/>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">

</head>
<body id="firstView">
	<div class="loginWrap">
		<p class="loginLogo">
			<a href="/"><img src="/images/logo.png" alt="MECOM" width="155" height="52"></a>
		</p>
		<div class="loginBox whitebox">
  <h1>LOGIN</h1>
  <div class="loginFormWrap">
		  <form method="POST" action="/login" class="clearfix">
		  	<dl>
		  		<dt>ID</dt>
		  		<dd><input type="text" name="user"></dd>
		  		<dt>PASS</dt>
		  		<dd><input type="password" name="password"></dd>
		  	</dl>
		    <input type="submit" value="Login" id="loginBtn">
		  </form>
		  <p class="toRegister"><a href="/register">無料アカウント作成はこちら</a></p>
  	</div>
  </div>
  <p class="toHome"><a href="/">←Home</a></p>
  </div>
</body>
</html>

